 .facebook-nav { 
    background-color: #3b5998;
}

.row-second-border-top {
    border-bottom: solid black 2px;
}

.events-background{
    background-color: rgb(184, 187, 194);
}

.list{
    list-style: none;
}

.border-chat{
    border: solid black 2px;
}

.left-border{
    border-left: 2px solid black;
}
 ul {
    display: inline;
  }